<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - VividRasV2</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/VividRasV2.styles.css" asp-append-version="true" />
</head>
<body>
    
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-prim border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <img src="./lib/images/v.png" width="50" height="50" class="d-inline-block align-top" />
                <a class="navbar-brand text-light" asp-area="" asp-controller="Home" asp-action="Index">Vividरस</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between" id="navbarCollapse">
                    <ul class="nav navbar-nav mr-auto" >
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="movies" asp-action="Index">Movies</a>
                        </li>
                        
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="WebSeries" asp-action="Index">WebSeries</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="TelevisionDramas" asp-action="Index">TelevisionDramas</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Reviews" asp-action="Index">Reviews</a>
                        </li>
                       @*  <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li> *@

                        @* <li class="nav-item">
                            <form asp-controller="Search" asp-action="Search" method="post" class="bg-prim">
                                <input class="form-control mr-2 w-100" type="search" name="query" placeholder="Search" aria-label="Search" />
                            </form>
                        </li>
                        <li class="nav-item">
                            <form>
                                <button class="btn d-inline-block" type="submit"><img class="d-inline-block" width="30" height="30" src="./lib/images/search.jpg" /></button>
                            </form>
                        </li> *@
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
