@model VividRasV2.Models.TelevisionDrama

@{
    ViewData["Title"] = "Tv Dramas - Details";
}
<img src="~/lib/images/v.png" width="80px" height="80px" />
<h1 class="text-light">TV Dramas Details</h1>

<div>
    <br />
    <br />

    <div class="container-fluid">
        <div class="row text-light fw-bolder">
            <div class="col">
                @Html.DisplayNameFor(model => model.DramasName)
            </div>
            <div class="col">
                @Html.DisplayFor(model => model.DramasName)
            </div>
        </div>
        <br />
        <br />
        <div class="row text-light fw-bolder">
            <div class="col">
                @Html.DisplayNameFor(model => model.StartingYear)
            </div>
            <div class="col">
                @Html.DisplayFor(model => model.StartingYear)
            </div>
        </div>
        
        <br />
        <br />

        <div class="row">
            <div class="card">
                <img class="card-img" src="~/lib/images/@(Model.TvdramasId)-details.jpg" width="300px" height="400px" />
            </div>
        </div>
    </div>

</div>
<div>
    
    <a class="btn btn-lnk" asp-action="Index">Back to List</a>
</div>
